*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
* {
  outline: 1px solid green;
} */
:root {
  /* Colors */
  --green-500: hsl(171, 66%, 44%);
  --blue-100: hsl(233, 100%, 69%);
  --gray-700: hsl(210, 10%, 30%);
  --gray-500: hsl(201, 11%, 60%);
  --white: hsl(0, 0%, 100%);

  /* Fonts */
  --ff-body: "Bai Jamjuree", sans-serif;
  --fs-base: 18px;
  --fs-md: clamp(0.97rem, 0.47vw + 0.73rem, 1.11rem); /* 17.5px - 20px */
  --fs-lg: clamp(1.55rem, 0.47vw + 0.73rem, 1.77rem); /* 28px - 32px */
  --fw-regular: 400;
  --fw-semibold: 600;

  /* Spacings */
  --spacing-sm: 1rem;
  --spacing-md: 1.44rem; /* 26px */
  --spacing-xl: 2rem; /* 36px */

  /* Border Radius */
  --border-radius-lg: 24px;

  /* Box shadows */
  --shadow-subtle: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
}
html {
  font-family: var(--ff-body);
  font-size: var(--fs-base);
}
/* General styles */
img {
  max-inline-size: 100%;
  block-size: auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Typography */
.title {
  font-size: var(--fs-lg);
  font-weight: var(--fw-semibold);
  color: var(--gray-700);
}
.text {
  font-size: var(--fs-md);
  font-weight: var(--fw-regular);
  line-height: 1.5;
  color: var(--gray-500);
  max-inline-size: 57ch;
}

/* Layout */
.page-container {
  max-width: 1440px;
  margin: auto;

  background-image: url("../assets/images/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding-block: var(--spacing-md);
}
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-xl);
  text-align: center;
  padding-block: var(--spacing-md);
  height: 100%;
}
/* Buttons */
.button {
  padding: 1em 2em;
  margin-block-end: var(--spacing-sm);
  border: none;
  border-radius: var(--border-radius-lg);

  font-family: var(--ff-body);
  font-size: 0.8em;
  font-weight: var(--fw-semibold);
  color: var(--white);
  letter-spacing: 2px;
  cursor: pointer;
  box-shadow: var(--shadow-subtle);
  transition: 0.2s ease;
}
.button--green {
  background-color: var(--green-500);
}
.button--blue {
  background-color: var(--blue-100);
}
.button:hover,
.button:focus-visible {
  opacity: 0.8;
}
/* Navigation */
.menu {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}
.menu-link {
  font-family: var(--ff-body);
  color: var(--gray-700);
}
.social-list {
  display: flex;
  gap: var(--spacing-md);
  margin-block-start: var(--spacing-xl);
}
.social-link {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--gray-700);
}
.social-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--gray-700);
}
/* Media Queries */
@media (min-width: 48rem) {
  .page-container {
    background-image: url("../assets/images/bg-header-desktop.png");
  }
  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-md);
    flex-direction: row;
  }
}
@media (prefers-reduced-motion: reduce) {
  .button {
    transition-duration: 0.01ms;
  }
}
